__pycache__
.history
.hypothesis/
.tox/
build/
reports/
venv/
.env
.pytest_cache/
.vscode/
node_modules
.DS_Store
fa_notes.txt
cache
artifacts
docs
mainnet_fork_deployments.json
artifacts
docs
nohup.out
